<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="TrabajoPractico.Properties.Settings.Trabajo_Practico_PAVConnectionString"
   connectionString="Data Source=DESKTOP-OJTSKEO\SQLEXPRESS;Initial Catalog=Trabajo_Practico_PAV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="CadenaBD" value="Data Source=DESKTOP-OJTSKEO\SQLEXPRESS;Initial Catalog=Trabajo_Practico_PAV;Integrated Security=True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>